.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

span {
  font-size: 3em;
  position: relative;
}

span:nth-child(1) {
  top: 20px;
  margin-right: 15px;
}

span:nth-child(2) {
  top: 80px;
  margin-left: 15px;
}